.form
    z-index: 100
    width: 700px
    height: 600px
    overflow-y: scroll
    padding: 30px
    background: rgba(0, 0, 0, 0.7)
    color: #fff
    border-radius: 10px
    border: 3px solid #fff
    position: absolute
    left: 50%
    top: 50%
    transform: translate3d(-50%,-50%,0)
    font-weight: 200
    &::-webkit-scrollbar
        width: 10px
    &::-webkit-scrollbar-thumb
        border: 3px solid transparent
        border-radius: 10px
        background: #f3f3f3
        &:hover
            background: #f3f3f3
    &::-webkit-scrollbar-track
        background: transparent
    span
        font-weight: bold
    &-title
        font-size: 30px
        margin: 0 0 30px
        text-align: center
        font-weight: 200
        text-transform: uppercase
        letter-spacing: 2px
.line
    text-align: center
    margin-bottom: 10px
    &-straight
        display: inline-block
        height: 2px
        width: 50px
        margin: 0 auto
        background: #fff
        vertical-align: middle
    &-circle
        vertical-align: middle
        display: inline-block
        height: 10px
        width: 10px
        border-radius: 50%
        margin: 0 10px 0 10px
        background: #fff
.form
    transition: all 0.3s
    visibility: hidden
    opacity: 0
.faq
    &-question
        margin-bottom: 20px
    &-answer
        margin-bottom: 10px
.form-active
    transition: all 0.3s
    visibility: visible
    opacity: 1
.form-close
    position: absolute
    top: 5px
    right: 5px
    display: block
    overflow: visible
    width: 35px
    height: 35px
    margin: 0
    padding: 0
    cursor: pointer
    -webkit-transition: color 0.2s
    transition: color 0.2s
    text-decoration: none
    color: #95979c
    border: 0
    outline: 0
    background: transparent
    &:before
        font-family: "Open Sans", sans-serif
        font-size: 25px
        line-height: 35px
        position: absolute
        top: 0
        left: 0
        display: block
        width: 35px
        content: "\00d7"
        text-align: center
.news
    &-upper
        margin-bottom: 25px
        display: flex
        justify-content: space-between
        align-items: center
    &-title
        font-size: 18px
        text-transform: uppercase
    &-date
        font-size: 12px
        font-style: italic
    &-text
        margin-bottom: 15px
        text-align: justify
        max-width: 634px
    &-img
        margin-bottom: 20px
        width: 634px
        img
            max-width: 100%
            max-height: 100%
            object-fit: cover
.rules
    &-item
        margin-bottom: 20px
    &-descr
        margin-bottom: 10px
    &-title
        margin-top: 50px
        margin-bottom: 25px
        font-weight: bold