.header
    background-color: #15161b
    display: flex
    align-items: center
    justify-content: space-between
    position: absolute
    width: 100%
    z-index: 4
    &-left
        margin-left: 30px
        display: flex
        align-items: center
        &__logo
            img
                width: 150px
                height: 40px
        &__socials
            margin-left: 20px
            a
                svg
                    fill: #ffffff
                    width: 20px
                    height: 20px
                    margin-top: 4px
    &-right
        display: flex
        align-items: center
        a
            color: #ffffff
        &__copyright
            color: #585858
            font-size: 12px
            margin-right: 20px
        &__item
            color: #fff
            text-transform: uppercase
            position: relative
            text-align: center
            font-weight: 300
            &:before
                content: ''
                display: block
                height: 100%
                top: 0
                left: 0
                position: absolute
                border-left: 1px solid #353c3e
        &__lang
            height: 50px
            width: 135px
            padding-top: 5px
            font-size: 12px
            font-weight: 400
        &__faq
            width: 100px
            padding-top: 11.5px
            padding-bottom: 11.5px
            font-size: 18px
            &:hover
                color: #fff
                background: #04bf25
                text-decoration: none
        &__news
            width: 100px
            padding-top: 11.5px
            padding-bottom: 11.5px
            font-size: 18px
            &:hover
                color: #fff
                background: #04bf25
                text-decoration: none
        &__rules
            width: 100px
            padding-top: 11.5px
            padding-bottom: 11.5px
            font-size: 18px
            &:hover
                color: #fff
                background: #04bf25
                text-decoration: none
        &__nav
            display: flex
            align-items: center
            padding-top: 4px
            padding-bottom: 4px
            transition: 0.3s all
            cursor: pointer
            font-weight: 400
            padding-right: 10px
            position: relative
            &:hover
                background: #04bf25
            &-text
                margin-left: 20px
                font-size: 14px
                text-transform: uppercase
            &-img
                margin-left: 20px
            &-spans
                padding-left: 10px
                padding-right: 10px
                position: relative
                &:after, &:before
                    content: ''
                    position: absolute
                    display: block
                    right: 6px
                    top: 0
                    width: 9px
                    background: #c9cbc4
                    height: 2px
                    transform: rotate(45deg)
                    transition: 0.3s all
                &:before
                    right: 0
                    transform: rotate(-45deg)
            &-main
                z-index: 3
                padding-top: 18px
                position: absolute
                top: 50px
                right: 0
                background-color: #15161b
                width: 367px
                height: 220px
                color: #fff
                visibility: hidden
                opacity: 0
                transition: 0.3s all
                a
                    &:hover
                        text-decoration: none
                        color: #fff
                        background-image: -webkit-linear-gradient(top, #136722, #04BF25)
                &__item
                    width: 290px
                    padding-left: 20px
                    padding-top: 6px
                    padding-bottom: 6px
                    display: flex
                    align-items: center
                    background: -webkit-linear-gradient(top, #04BF25, #136722)
                    font-weight: 200
                    font-size: 16px
                    text-transform: uppercase
                    text-shadow: 1px 1px 1px #000
                    border-radius: 4px
                    margin: 0 auto 20px
                    letter-spacing: 1px
                    &:nth-child(3)
                        margin-bottom: 0
                    span
                        margin-left: 15px
.nav-open.header-right__nav-spans
    &:after, &:before
        content: ''
        position: absolute
        display: block
        right: 0
        top: 0
        width: 14px
        background: #c9cbc4
        height: 2px
        transform: rotate(-45deg)
        transition: 0.3s all
    &:before
        right: 0
        transform: rotate(45deg)
.nav-open.header-right__nav-main
    visibility: visible
    opacity: 1