@keyframes money
    0%
        transform: translateY(110px)
        opacity: 0
    15%,85%
        opacity: 1
    100%
        transform: translateY(20px)
        opacity: 0
.index
    height: 100vh
    width: 100%
    display: flex
    justify-content: center
    align-items: center
.purple
    z-index: 4
    position: absolute
    width: 100%
    height: 100vh
    visibility: hidden
    opacity: 0
    transition: all 0.3s
    background-color: rgba(36, 38, 51, .8)
.purple-active
    cursor: pointer
    visibility: visible
    opacity: 1
    transition: all 0.3s
.main
    z-index: 1
    color: #ffffff
    max-width: 700px
    position: relative
    &-upper
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 35px
    &-img
        margin-left: 75px
        display: inline-block
    &-money
        left: 120px
        position: absolute
        display: inline-block
        animation: money 1.5s linear infinite
    &-title
        margin-right: 140px
        display: inline-block
        font-weight: 100
        font-size: 44px
    &-text
        line-height: 30px
        font-weight: 200
        text-align: center
    &-lines
        position: relative
        margin-bottom: 65px
    &-line1
        position: absolute
        top: 0
        left: 0
        width: 102px
        height: 4px
        background: #fff
    &-line2
        position: absolute
        top: 0
        right: 0
        width: 510px
        height: 4px
        background: #fff
    &-line3
        position: absolute
        top: 8px
        left: 12px
        width: 90px
        height: 2px
        background: #fff
    &-line4
        position: absolute
        top: 8px
        right: 12px
        width: 498px
        height: 2px
        background: #fff
    &-button
        background: #04BF25
        border-radius: 10px
        cursor: pointer
        color: #fff
        text-align: center
        padding: 5px 60px
        font-size: 26px
        font-weight: 200
        text-transform: uppercase
        transition: all 0.3s
        &:hover
            transition: all 0.3s
            background: darken(#04BF25, 10%)
            border-radius: 12px
        &__wrapper
            padding: 10px
            display: inline-block
            background: transparent
            border: 2px solid #fff
            z-index: 150
            border-radius: 23px
            position: relative
            &:after
                content: ''
                display: block
                position: absolute
                left: -106px
                top: 50%
                width: 106px
                height: 2px
                background: #fff
            &:before
                content: ''
                display: block
                position: absolute
                right: -106px
                top: 50%
                width: 106px
                height: 2px
                background: #fff
.wrapperOfButton
    z-index: 2
    margin-top: 170px
    text-align: center
.menu
    padding-top: 27px
    padding-bottom: 27px
    display: flex
    align-items: center
    justify-content: space-around
    background-color: #15161b
    left: 10%
    right: 10%
    width: 80%
    border-radius: 20px 20px 0 0
    margin: 0 auto
    &-links
        padding-top: 7px
        padding-bottom: 7px
        text-transform: uppercase
        flex-basis: 23%
        text-align: center
        color: #fff
        border-radius: 8px
        border: 1px solid #fff
        font-size: 20px
        font-weight: 300
        background: #04BF25
        cursor: pointer
        transition: all 0.3s
        a
            text-decoration: none
            color: #fff
            &:hover
                text-decoration: none
                color: #fff
        &:hover
            transition: all 0.3s
            background: rgb(19, 103, 34)
            -webkit-transform: translate3D(0px, 0px, 0px) scale(1.05)
            -moz-transform: translate3D(0px, 0px, 0px) scale(1.05)
            -ms-transform: translate3D(0px, 0px, 0px) scale(1.05)
            -o-transform: translate3D(0px, 0px, 0px) scale(1.05)
            transform: translate3D(0px, 0px, 0px) scale(1.05)
            text-decoration: none
            color: #fff
        &__current
            font-weight: 600
    &-wrapper
        z-index: 10
        position: fixed
        bottom: 230px
        width: 100%
        transform: translateY(400%)
        transition: all 0.3s
        visibility: hidden
        opacity: 0
.menu-active
    visibility: visible
    opacity: 1
    transition: all 0.3s
    transform: translateY(0)