*
    margin: 0
    padding: 0
    outline: none !important
body, html
    height: 100%
    perspective: 600px
a
    text-decoration: none
    transition: 0.3s all
.content
    transition: transform 0.3s
.wrapper
    font-family: "Open Sans", sans-serif
    font-weight: 400
    width: 100%
    height: 100%
    background-image: url('../img/main/bg_hw.png')
.content-change
    transition: transform 0.3s
    transform: rotateX(-4deg) translate3D(0px, 0px, -10px) scale(.9)
.captcha
    width: 304px
    height: 74px
    background-color: #000
@import 'header'
@import 'index'
@import 'form'
@import 'marketing'
@import 'support'