.marketing
    height: 100vh
    width: 100%
    display: flex
    align-items: center
    flex-direction: column
    .wrapperOfButton
        margin-top: 50px
    &-block
        display: flex
        justify-content: space-between
        margin: 150px auto 0
        width: 900px
        height: 500px
        background: rgba(0, 0, 0, 0.7)
        border: 3px solid #fff
        border-radius: 10px
        font-size: 16px
        line-height: 20px
        font-weight: 200
        color: #fff
        padding: 30px
    &-detailed
        overflow-y: scroll
        width: 371px
        display: inline-block
        &::-webkit-scrollbar
            width: 0
        &__title
            margin-top: 10px
            text-align: center
            font-size: 36px
            font-weight: 300
            text-transform: uppercase
            letter-spacing: 1px
            margin-bottom: 30px
        &__sum
            font-weight: bold
            margin-bottom: 30px
        &__point
            margin-bottom: 30px
    &-line
        display: inline-block
        height: auto
        border-left: 2px dashed #fff
    &-main
        overflow-y: scroll
        width: 371px
        display: inline-block
        text-align: center
        &::-webkit-scrollbar
            width: 0
        &__title
            margin-top: 10px
            font-size: 36px
            font-weight: 300
            text-transform: uppercase
            letter-spacing: 1px
            margin-bottom: 30px
        &__item
            margin-bottom: 20px
.about
    flex-direction: column
    &-text
        margin-bottom: 20px
    &-title
        font-size: 36px
        font-weight: 300
        text-transform: uppercase
        letter-spacing: 1px
        margin: 15px 0 30px
        text-align: center
    &-img
        text-align: center
        margin-bottom: 10px