.support
    max-width: 600px
    text-align: center
    z-index: 0
    .wrapperOfButton
        z-index: -5
        margin-top: 50px
    .captcha
        margin: 0 auto
    &-button
        margin-top: 20px
        background: rgba(255, 255, 255, 0.2)
        width: 320px
        height: 50px
        border-radius: 10px
        cursor: pointer
        color: #fff
        text-align: center
        line-height: 42px
        font-size: 26px
        border: 2px solid #fff
        z-index: 200
        letter-spacing: 2px
        text-transform: uppercase
        transition: 0.3s all
        font-weight: 400
        &:hover
            transition: 0.3s all
            background: rgba(255, 255, 255, 0.4)
            text-shadow: 1px 1px 1px #333
    &-input
        display: inline-block
        width: 264px
        height: 50px
        line-height: 50px
        font-size: 20px
        font-weight: 100
        padding: 0 15px
        border-radius: 5px
        border: 2px solid #fff
        background: rgba(0, 0, 0, 0.6)
        outline: none
        transition: 0.3s all
        color: #fff
        letter-spacing: 0.5px
        margin-bottom: 40px
        &::-moz-placeholder
            color: #fff
            font-weight: 400
        &::-webkit-input-placeholder
            color: #fff
            font-weight: 400
        &:focus
            transition: 0.3s all
            background: rgba(0, 0, 0, 0.8)
    &-textarea
        display: inline-block
        width: 600px
        height: 170px
        line-height: 32px
        font-size: 20px
        font-weight: 100
        padding: 12px 15px
        border-radius: 5px
        border: 2px solid #fff
        background: rgba(0, 0, 0, 0.6)
        resize: none
        transition: 0.3s all
        box-sizing: border-box
        color: #fff
        letter-spacing: 0.5px
        margin-bottom: 20px
        &::-moz-placeholder
            color: #fff
            font-weight: 400
        &::-webkit-input-placeholder
            color: #fff
            font-weight: 400
        &:focus
            transition: 0.3s all
            background: rgba(0, 0, 0, 0.8)