.header {
  background-color: #15161b;
  padding-top: 5px;
  padding-bottom: 5px; }
  .header-left {
    margin-left: 30px;
    display: flex;
    align-items: center; }
    .header-left__logo img {
      width: 150px;
      height: 40px; }
    .header-left__socials {
      margin-left: 20px; }
      .header-left__socials a svg {
        fill: #ffffff;
        width: 20px;
        height: 20px;
        margin-top: 4px; }
